@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --spacing-18: calc(var(--spacing) * 18);
  --spacing-26: calc(var(--spacing) * 26);
  --spacing-5.5: calc(var(--spacing) * 5.5);
  --shadow-inner-xl: inset 5px 5px 26px #b0a08d, inset -5px -5px 26px #cab8a3;
}

html {
  color-scheme: light dark;
}

html::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('/plants.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

/* 
 * Use '!!' class on any element to visually highlight it.
 */
.\!\! {
  animation: _wobble 0.7s ease-in-out alternate infinite;
}

@keyframes _wobble {
  0% {
    box-shadow:
      2px 2px rgb(255, 105, 180, 0.5),
      -2px -2px rgb(255, 105, 180, 0.5),
      inset 4px 4px rgb(255, 105, 180),
      inset -4px -4px rgb(255, 105, 180);
  }
  100% {
    box-shadow:
      4px 2px rgb(255, 105, 180, 0.5),
      -4px -2px rgb(255, 105, 180, 0.5),
      inset 8px 8px rgb(255, 105, 180),
      inset -8px -8px rgb(255, 105, 180);
  }
}
